<%- include('header')%>
  <title>Pnb Agent</title>
<div align="center" style="margin:50px;">
  
  <a href="/Deposit">Deposit Fail</a>
  <a class="btn btn-outline-success" href="https://www.pnbindia.in/downloadprocess.aspx?fid=wTrmEBs54QPJyFDp6t57dA==">PMSBY FORM</a>   <a class="btn btn-outline-primary" href="https://cdn.glitch.global/a871eceb-d30a-4533-bb7e-d96382bb56cd/PMJDY%20Application%20Form%20PNB%20Bank.pdf?v=1697804511054">PMJDY FORM</a>  <a class="btn btn-outline-danger" href="https://cdn.glitch.global/e79a96d2-47ec-423d-a701-1232008cbc70/JAMA%20PARCHI.pdf">JAMA PARCHI</a></br></br>
<a href="https://localhost:12030" style="border:3px solid red;border-radius:30px;">iwinnac</a> <a href="https://127.0.0.1">rdservice</a>
K0201508 = <input type="text" id="K0201508" width="800px" value='<a href="https://bcportal.pnbfikiosk.co.in/kiosk/layout?_=129834"><button style="color:white;background-color:black;">K0201508</button></a>'disabled><button class="btn btn-outline-primary" onclick="K0201508()">Copy</button></br></br></br>
  
K1400734 =  <input type="text" id="K1400734"width="300px" value='<a href="https://bcportal.pnbfikiosk.co.in/kiosk/layout?_=102345612"><button style="color:white;background-color:black;">K1400734</button></a>' disabled><button class="btn btn-outline-primary" onclick="K1400734()">Copy</button></br></br></br>
K1400734 = <input type="text" id="K14007342"width="300px" value="window.location.href = 'https://bcportal.pnbfikiosk.co.in/kiosk/layout?_=102345612';" disabled><button class="btn btn-outline-primary" onclick="K14007342()">Copy</button></br>
LAST TXN RECIPT = <input type="text" id="K14007343"width="300px" value="console.log(sessionStorage.termalData)" disabled><button class="btn btn-outline-primary" onclick="K14007343()">Copy</button>

  <script>
function K0201508() {
  // Get the text field
  var copyText = document.getElementById("K0201508");

  // Select the text field
  copyText.select();
  copyText.setSelectionRange(0, 99999); // For mobile devices

   // Copy the text inside the text field
  navigator.clipboard.writeText(copyText.value);

  // Alert the copied text
  alert("Copied the text: " + copyText.value);
}
    function K1400734() {
  // Get the text field
  var copyText = document.getElementById("K1400734");

  // Select the text field
  copyText.select();
  copyText.setSelectionRange(0, 99999); // For mobile devices

   // Copy the text inside the text field
  navigator.clipboard.writeText(copyText.value);

  // Alert the copied text
  alert("Copied the text: " + copyText.value);
}
    function K14007342() {
  // Get the text field
  var copyText = document.getElementById("K14007342");

  // Select the text field
  copyText.select();
  copyText.setSelectionRange(0, 99999); // For mobile devices

   // Copy the text inside the text field
  navigator.clipboard.writeText(copyText.value);

  // Alert the copied text
  alert("Copied the text: " + copyText.value);
}
    
    
     function K14007343() {
  // Get the text field
  var copyText = document.getElementById("K14007343");

  // Select the text field
  copyText.select();
  copyText.setSelectionRange(0, 99999); // For mobile devices

   // Copy the text inside the text field
  navigator.clipboard.writeText(copyText.value);

  // Alert the copied text
  alert("Copied the text: " + copyText.value);
}
  </script>


</div>
<%-include('footer')-%>