<%-include('header')-%>
<div class="jumbotron">
    <h1>Welcome to Our Website</h1>
    <p>EASY TO ADD AND PRINT PASSBOOK.</p>
    
</div>

</head>
<body>

<div class="container offer-container">
    <div class="row">
        <div class="col s12">
            <h2 class="offer-title">Special Offer</h2>
            <p class="offer-description">Sign up now and get 10 passbook prints for free!</p>
            <a href="#" class="offer-button">Sign Up</a>
        </div>
    </div>
</div>

<!-- Content Section -->
<div class="container" style="background-color: #c9c8c8;">
    <aside class="sidebar">
        <h2>Short-cut Menu</h2>
        <ul>
            <li><a href="#">Home</a></li>
            <hr>
            <li><a href="#">Add Passbook</a></li>
            <hr>
            
            <li><a href="#">Search Passbook</a></li>
            <hr>
            <li><a href="#">Pricing</a></li>
            <hr>
        </ul>
    </aside>

    <section class="main-section">
        <h1>Currently Only For PNB BANK BC's</h1>
        <div style="display:flex;flex-wrap:wrap;justify-content:center;">
        <div class="section">
        <h2>Passbook Creation</h2>
        <hr>
        <p>You can easily create a PNB Bank passbook by copying the form provided on our website and pasting it into the given textarea. You can also manually create a passbook.</p>
        <p>आप हमारी वेबसाइट पर Copy किये गए फ़ॉर्म को दिए गए टेक्स्टएरिया में पेस्ट कर आसानी से पीएनबी बैंक की पासबुक बना सकते हैं। आप मैन्युअल भी पासबुक बना सकते हैं।</p>
        <p>Please <a href="#" class="">Login</a> to better experiance</p>


    </div>
        
     <div class="section">
        <h2>Donate</h2>
         <p><img src="<%=url%>"></p>
         <strong>Donate to increese more services.</strong>
    </div>

</div>

    </section>
</div>
<%-include('footer')-%>